* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 25px 0;
  background: #f5f7fa;
  padding: 40px 20px;
  font-family: Montserrat;
}
a {
  text-decoration: none;
  display: block;
}
h2 {
  color: #d4893d;

  margin: 20px 0;
}
h3 {
  margin: 10px 0;
  font-size: 15px;
}

.container {
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.header {
  margin: 10px 0;
}
.header__down {
  height: 200px;
}

.body {
  display: flex;
}

.header__up {
  height: 200px;
  background-color: #090730;
  display: flex;
  align-items: flex-end;
}

.firstame {
  font-size: 50px;
  color: white;
  font-weight: bold;
  padding-left: 100px;
}

.lastname {
  font-size: 50px;
  color: #090730;
  font-weight: bold;
  padding-left: 250px;
}

.second-lastname {
  font-weight: initial;
  font-size: 26px;
}

.contacts {
  margin-left: 20px;
}

.contact-item {
  padding: 5px;
  display: flex;
  align-items: center;
}

.link {
  color: #d4893d;

  font-weight: unset;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 0.5px solid #090730;
}

.contact__item-block {
  margin: 0 15px;
}

.contact__img-block {
  width: 25px;
}

.contact__img-block.lin{
  color: #090730;
}


.avatar {
  position: absolute;
  top: 45px;
  left: 800px;

  border: 3px solid #d4893d;

  width: 330px;
  height: 330px;
  margin: auto;
  border-radius: 50%;
}

.img-block {
  background-color: #f3f7f5;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  margin-top: 13px;
}
.img {
  display: block;
  width: 105%;
  height: auto;
}
/* ...................... */

.leftbar {
  padding: 30px;
  margin: 20px 10px;
  background-color: #ededed;
  width: 621px;

  border-radius: 25px;
}

.project-item {
  margin: 10px;
}

.project-link {
  width: 180px;
  color: #d4893d;
}

.project-link:hover {
  color: orange;
}

.table {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about {
  width: 350px;
}

.rightbar {
  padding: 30px;
  margin: 20px 10px;
}

.techskills-title.two{
  color: #d4893d;
}

.techskill-item {
  padding: 3px 0;
}

.pro {
  margin-bottom: 10px;
}

.pro-img {
  padding: 0 10px;
}

.p-img {
  width: 15px;
}

.react {
  padding-left: 45px;
}

.react-item {
  padding: 3px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  display: flex;
  align-items: center;
}

.dot {
  display: block;
  background-color: #d4893d;

  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.rea {
  display: flex;
}

.rea-img {
  padding-right: 10px;
}

.r-img {
  width: 18px;
}

.education_direction {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.time {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #96969e;
  /* padding-bottom: 20px; */
  margin-bottom: 5px;
  display: block;
}

.devided {
  color: black;
}

.work-list__title {
  margin-left: 15px;
}

.work-list {
  margin-left: 20px;
}

.languages {
  margin-left: 10px;
}

.lan-item {
  margin: 5px;
}

.proj1 {
  margin-bottom: 10px;
}
.proj {
  font-weight: bold ;
}

.companies:not(:last-child){
  margin-bottom: 20px;
}
